
nav {
    margin-bottom: 100px;
}
.commercialVids {
  text-align: left;
  margin-top: 100px;
}
.video-banner-link {
  display: inline-block;
  width: 30.7%;
  padding: 20px 20px 15px 20px;
  background: #0176B4;
  margin: 1.3%;
  box-sizing: border-box;
}

.video-banner {
  width: 100%;
  height: 100%; }

.videoBlueBox p {
    text-align: left;
    margin: 0;
    padding-top: 15px;
}

.imgWithPlay {
  position: relative;
}

.playButtonOver {
    position: absolute;
    top: 23%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 30%;
}

.playButtonOver img{
  width: 100%;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.85); }

.modal-video-container {
  position: absolute;
  top: 20%;
  left: 15%;
  transform: scale(0);
  width: 0;
  height: 0%;
  padding-top: 56.25%;
  }

.video-popup {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 900;
  width: 70%;
  height: 70%;
 }

 .close {
  position: absolute;
  width: 100%;
  height: 50px;
  z-index: 999;
  font-size: 2rem;
  color: #fff;
  cursor: pointer; 
}

.close > span {
  position: absolute;
  left: 95%;
  top: 50%; 
}

.bestViewingBox {
    background-color: rgba(0,0,0,0.2);
    padding: 40px 75px;
    margin: 50px auto;
    box-sizing: border-box;
    max-width: 1273px;
}

@media only screen and (min-width: 1300px) {
  .modal-video-container {
    top: 10%; 
    } 
}

@media only screen and (max-width: 1024px) {
  .video-popup {
    width: 85%;
    height: 85%; 
  }
  .modal-video-container {
    left: 7%; 
    }
    .video-banner-link {
    padding: 12px 12px 15px 12px;
  } 
  .container.containLarger {
    max-width: 1300px;
    width: 90%;
  }
}

@media only screen and (max-width: 768px) {
    .video-banner-link {
    padding: 12px 12px 15px 12px;
    width: 45.4%;
    margin: 2.3%;
  } 
}

@media only screen and (max-width: 600px) {
  .modal-video-container {
    top: 30%; 
  } 

    .bestViewingBox {
    padding: 40px 20px;
  }
}


