@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;800&display=swap');

$baseColor : #242424;
$primaryColor : #C107E3;
$primary25:#b057c0bf;
$primary50:#9746a580;
$primary75:#7d2e8a40;
$secondaryColor : #07DBE3;
$secondary25:#04b9bfbf;
$secondary50:#18959980;
$secondary75:#0a939840;
$white: #ffffff;
$tertiary25:#a7a7a7bf;
$tertiary50:#93939380;
$tertiary75:#96969640;
$textColor: #E3E3E3;
$borderR : 30px;
$borderRSmall: 10px;
$borderRMobile : 12px;
$blockColor: #1b1b1b;
$transition: all .7s ease;
// $primary25:rgba(106, 155, 252, .25);
// $primary50:rgba(106, 155, 252, .5);
// $primary75:rgba(106, 155, 252, .75);
